<mat-sidenav-container fullscreen>
	<mat-sidenav mode="over" #sidenav>

		<div fxLayout="column" *ngIf=isLogged>
			<mat-toolbar fxLayoutAlign="left left">
				<button mat-button [routerLink]="['/home']" (click)="sidenav.open()">
					<mat-icon>home</mat-icon>
				</button>
			</mat-toolbar>
			<button mat-button [routerLink]="['/member.list']">Gestión de Socios</button>
			<button mat-button [routerLink]="['/sport.manager']">Gestión Deportiva</button>
			<button mat-button [routerLink]="['/control.payment']">Gestión Financiera</button>


			<div collapse class="card card-block card-header">

				<button mat-button [matMenuTriggerFor]="menu">Gestión Financiera</button>
				<mat-menu #menu="matMenu" [overlapTrigger]="true">
					<button mat-button [routerLink]="['/control.balance']">Registro de Aportes de Socios</button>
					<button mat-button [routerLink]="['/control.payment']">Registro de Ingresos</button>
					<button mat-button [routerLink]="['/control.balance']">Registro de Compras / Gastos</button>
					<button mat-button [routerLink]="['/control.balance']">Consulta de Aporte Individual</button>
					<button mat-button [routerLink]="['/control.balance']">Balance</button>
				</mat-menu>

			</div>

			<button mat-button [routerLink]="['/home']">
				<mat-icon>power_settings_new
				</mat-icon>
			</button>
			<button mat-button (click)="logout()">
				<mat-icon>settings</mat-icon>
			</button>
		</div>

		
	</mat-sidenav>

	<div *ngIf=isLogged>
		<mat-toolbar>

			<button mat-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
				<mat-icon>menu</mat-icon>
			</button>

			<div fxLayout="row" fxShow="false" fxShow.gt-sm>
				<button mat-button [routerLink]="['/home']">
					<mat-icon>home</mat-icon>
				</button>
				<button mat-button [routerLink]="['/member.list']">Gestión de Socios</button>
				<button mat-button [routerLink]="['/sport.manager']">Gestión Deportiva</button>

				<button mat-button [matMenuTriggerFor]="menu">Gestión Financiera</button>
				<mat-menu #menu="matMenu" [overlapTrigger]="false">
					<button mat-button [routerLink]="['/control.balance']">Registro de Aportes de Socios</button>
					<button mat-button [routerLink]="['/control.payment']">Registro de Ingresos</button>
					<button mat-button [routerLink]="['/control.balance']">Registro de Compras / Gastos</button>
					<button mat-button [routerLink]="['/control.balance']">Consulta de Aporte Individual</button>
					<button mat-button [routerLink]="['/control.balance']">Balance</button>
				</mat-menu>

				<span flex></span>
				<button mat-button [routerLink]="['/home']">
					<mat-icon>power_settings_new
					</mat-icon>
				</button>
				<button mat-button (click)="logout()">
					<mat-icon>settings</mat-icon>
				</button>

			</div>
		</mat-toolbar>
	</div>
	<div class="jumbotron">
			<div class="container">
						<div class="col-sm-10 col-sm-offset-1">
					<alert></alert>
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
</mat-sidenav-container>