<div>
	<h4>Lista de competencias:</h4>

	2/4/2018 	 - 	Rally 	 - 	Apuropedal 	 - 	Rally Mala <br>
	2/18/2018 	 - 	Rally 	 - 	Apuropedal 	 - 	Totoritas<br>
	2/24/2018 	 - 	XCM 	 - 	Apuropedal 	 - 	4ta. Edición del Desafío La Ruta de Los Peregrinos (1)<br>
	2/25/2018 	 - 	XCM 	 - 	Apuropedal 	 - 	4ta. Edición del Desafío La Ruta de Los Peregrinos (2)<br>
	3/11/2018 	 - 	XCO 	 - 	FPDC - Club Mala 	 - 	1ra Ranking  Valida Ranking<br>
	3/18/2018 	 - 	Rally 	 - 	Apuropedal 	 - 	Las Flores<br>
	4/29/2018 	 - 	XCO  	 - 	FPDC - Club Arequipa 	 - 	Arequipa<br>
	5/5/2018 	 - 	XCM 	 - 	Apuropedal 	 - 	Entre rios 1<br>
	5/20/2018 	 - 	Rally 	 - 	Apuropedal 	 - 	3 Cerros<br>
	6/24/2018 	 - 	XCO 	 - 	Apuropedal 	 - 	II XCO Viña Vieja 2018<br>
	7/22/2018 	 - 	XCO 	 - 	FPDC - Apuropedal 	 - 	Campeonato Nacional XCO 2018<br>
	8/19/2018 	 - 	Rally 	 - 	FPDC - Moxie 	 - 	4ta Fecha Ranking Nacional <br>
	9/2/2018 	 - 	XCM 	 - 	Apuropedal 	 - 	Desafío Del Valle Pachacamac<br>
	9/16/2018 	 - 	Rally 	 - 	APP  	 - 	VIII Rally MTB Cieneguilla 2018<br>
	10/21/2018 	 - 	XCO 	 - 	FPDC - ????  	 - 	5ta Ranking <br>
	11/11/2018 	 - 	XCO 	 - 	FPDC - ????  	 - 	6ta Fecha Ranking Nacional <br>
	11/25/2018 	 - 	XCM 	 - 	xtremaventura 	 - 	Radical UASARA<br>


</div>