<div class="container">
	<h4>Eventos de ciclismo:</h4>
	<a *ngIf="isAdmin" class="btn btn-default btn-sm" [routerLink]="['/sport.event']">Registrar nuevo evento</a><br>
	<br>

	<table>
		<tr>
			<td style="width: 10%">Filtrar:</td>
			<td style="width: 20%"><input class="form-control" type="text" width="50px" maxlength="50"></td>
			<td style="width: 10%"></td>
			<td style="width: 10%">Estado</td>
			<td style="width: 10%"><select class="form-control" [(ngModel)]="statusFilter" name=statusFilter
					(change)="onChange3(this.periodFilter, $event.target.value)">
					<option *ngFor="let c of statuses" value="{{c.id}}">{{c.name}}</option>
				</select> 
			</td>
			<td style="width: 10%"></td>
			<td style="width: 10%">Periodo</td>
			<td style="width: 20%">
				<select class="form-control" [(ngModel)]="periodFilter" name=periodFilter
					(change)="onChange3($event.target.value, this.statusFilter)">
					<option *ngFor="let p of periods" [ngValue]="p.id">{{p.name}}</option>
				</select></td>
		</tr>
	</table>
	<br>

	<table class="table table-hover table-sm table-inverse table-responsive table-condensed">
		<thead class="thead-inverse">
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Tipo</th>
				<th>Organizador</th>
				<th>Lugar</th>
				<th>Fecha de inicio</th>
				<th>Fecha de fin</th>
				<th>Estado</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let event of events">
				<td>{{event.id}}</td>
				<td>{{event.name}}</td>
				<td>{{showTypeDescription(event.type)}}</td>
				<td>{{event.organizer}}</td>
				<td>{{event.location}}</td>

				<td>{{event.datestart | date: 'yyyy-MM-dd'}}</td>
				<td>{{event.datefinish | date: 'yyyy-MM-dd'}}</td>

				<td>{{showStatusDescription(event.status)}}</td>
				<td *ngIf="isAdmin"><a [routerLink]="['/sport.event', event.id]">Modificar</a></td>
			</tr>
		</tbody>
	</table>
</div>