<div>

	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<a class='navbar-brand'>{{pageTitle}}</a>
			<ul class='nav navbar-nav'>
				<li><a [routerLink]="['']">Inicio</a></li>
				<li><a [routerLink]="['/member.register']">Registro de
						Socios</a></li>
				<li><a [routerLink]="['/login']">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>

	<h4>Socios Registrados:</h4>
	<a class="btn btn-primary" [routerLink]="['/member.register']">Registrar nuevo socio</a><br>
	<br>
	<table>
		<tr>
			<td style="width: 10%">Filtrar:</td>
			<td style="width: 20%"><input type="text" width="50px" maxlength="50"></td>
			<td style="width: 10%"></td>
			<td style="width: 10%">Estado</td>
			<td style="width: 20%"><select><option value="1">Activos</option>
					<option value="0">Inactivos</option></select></td>
			<td style="width: 40%"></td>
		</tr>
	</table>
	<br>

	<table style="width: 100%">
		<tr>
			<td style="width: 5%"><b>#</b></td>
			<td style="width: 25%"><b>Nombres</b></td>
			<td style="width: 20%"><b>Fecha de Nacimiento</b></td>
			<td style="width: 20%"><b>Fecha de inicio</b></td>
			<td style="width: 10%"><b>Estado</b></td>
			<td style="width: 20%"></td>
		</tr>
		<tr *ngFor="let member of members">
			<td>{{member.id}}</td>
			<td>{{member.firstname}} {{member.lastname}}</td>
			<td>{{member.dob}}</td>
			<td>{{member.datestart}}</td>
			<td>{{member.status}}</td>
			<td><a [routerLink]="['/member.register', member.id]">Modificar</a>
				| <a (click)="deleteMember(member.ida)">Baja</a></td>
		</tr>
	</table>
</div>